<div tqDropdown>
  <div class="dropdown-trigger">
    <button class="button" tqDropdownToggle aria-controls="dropdown-menu">
      <span>Dropdown button</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div tqDropdownMenu id="dropdown-menu">
    <div class="dropdown-content">
      <a href="#" tqDropdownItem>
        Dropdown item
      </a>
      <a tqDropdownItem>
        Other dropdown item
      </a>
    </div>
  </div>
</div>
